<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">
            <a href="/post/@(Post.Id)" class="text-decoration-none">@Post.Title</a>
        </h3>
        <p class="card-text text-truncate">
            @(Markdown.ToPlainText(Post.Content))
        </p>
    </div>
</div>

@code
{
    [Parameter, EditorRequired] public Post Post { get; set; } = default!;
}
